stages:
  - build
  - deploy
  - destroy

variables:
  AWS_DEFAULT_REGION: "eu-west-1"
  IMAGE_TAG: $CI_COMMIT_SHA
  ECR_REPOSITORY: "webserver"
  ECS_SERVICE: "webserver"
  ECS_CLUSTER: "webserver-cluster"
  CFN_STACK_NAME: "webserver-ecs-stack"

build:
  stage: build
  image: docker:24
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - apk add --no-cache aws-cli
  script:
    - aws ecr describe-repositories --repository-names $ECR_REPOSITORY --region $AWS_DEFAULT_REGION || aws ecr create-repository --repository-name $ECR_REPOSITORY --region $AWS_DEFAULT_REGION
    - aws ecr get-login-password --region $AWS_DEFAULT_REGION | docker login --username AWS --password-stdin $ECR_REGISTRY
    - docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG django_webserver/
    - docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
    - docker tag $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:latest
    - docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
  only:
    - main

deploy:
  stage: deploy
  image: amazonlinux:2
  before_script:
    - yum install -y unzip curl python3-pip
    - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
    - unzip awscliv2.zip
    - ./aws/install
  script:
    - ECR_IMAGE_URI="$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"
    - aws cloudformation deploy --template-file ecs-webserver.yaml --stack-name $CFN_STACK_NAME --parameter-overrides ContainerImage=$ECR_IMAGE_URI --capabilities CAPABILITY_NAMED_IAM --region $AWS_DEFAULT_REGION
    - aws ecs update-service --cluster $ECS_CLUSTER --service $ECS_SERVICE --force-new-deployment --region $AWS_DEFAULT_REGION
  only:
    - main

destroy:
  stage: destroy
  image: amazonlinux:2
  when: manual
  before_script:
    - yum install -y unzip curl
    - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
    - unzip awscliv2.zip
    - ./aws/install
  script:
    - echo "Deleting ECS CloudFormation stack..."
    - aws cloudformation delete-stack --stack-name $CFN_STACK_NAME --region $AWS_DEFAULT_REGION
    - aws cloudformation wait stack-delete-complete --stack-name $CFN_STACK_NAME --region $AWS_DEFAULT_REGION
    - echo "Stack deleted successfully"
  only:
    - main
